module.exports = {
    email: 'your_email@example.com',
    pass: 'your_password',
    chromedriver: 'C:\\path\\to\\chromedriver.exe',
    DB_HOST: '127.0.0.1',
    DB_USER: 'rpointworker',
    DB_PASSWORD: 'your_password',
    DB_NAME: 'rpointworker',
    csvExportPath: '/mnt/d/drive/マイドライブ/rpoint/histories.csv'
};
